MONGO_URI=YOUR_MONGODB_CONNECTION_STRING

PORT=PORT_NUMBER_HERE
CORS_ORIGIN=CORS_ORIGIN_HERE # ("http://localhost:5173" for development, or your frontend URL for production)

# JWT settings
ACCESS_TOKEN_SECRET=YOUR_ACCESS_TOKEN_SECRET
ACCESS_TOKEN_EXPIRY=YOUR_ACCESS_TOKEN_EXPIRY_TIME
REFRESH_TOKEN_SECRET=YOUR_REFRESH_TOKEN_SECRET
REFRESH_TOKEN_EXPIRY=YOUR_REFRESH_TOKEN_EXPIRY_TIME

# Email settings
MAILTRAP_SMTP_HOST=YOUR_MAILTRAP_SMTP_HOST
MAILTRAP_SMTP_PORT=YOUR_MAILTRAP_SMTP_PORT
MAILTRAP_SMTP_USER=YOUR_MAILTRAP_SMTP_USER
MAILTRAP_SMTP_PASS=YOUR_MAILTRAP_SMTP_PASS

# Frontend URL for email links
FRONTEND_URL=YOUR_FRONTEND_URL_HERE